.exercise {
  border: solid 1px greenyellow;
  margin: 5px 0px 2px 5px;
  background-color: rgb(222, 220, 220);
}

.contenedor {
  margin-left: auto;
  margin-right: auto;
  align-content: center;
  width: 500px;
}
.symbol{
  color: green;
  cursor: pointer;
}
.selected{
  background-color: rgb(238, 128, 128);
  border: 1px solid red;
}